/* Without setting height the slides will take up the height of the slide's content */
.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #EDC7B7;
}
.button {
  margin: 0;
  position: absolute;
  top: 80%; left: 30%; right: 30%;
}
.welcome {
  margin: 0;
  position: absolute;
  top: 60%; left: 30%; right: 30%;
  text-align: center;
}
.question {
  margin: 0;
  position: absolute;
  top: 20%; left: 30%; right: 30%;
  text-align: center;
}

.inputs {
  text-align: left;
  font-family: 'Open Sans';
  color: #123C69;
}